<mat-form-field class="inputClass" appearance="legacy" [floatLabel]="floatLabel">
  <mat-label>{{label | translate}}</mat-label>
  <span matPrefix *ngIf="prefix">{{prefix}} &nbsp;</span>
  <input matInput [type]="controlType" [formControl]="control" placeholder="{{placeholder | translate}}">
  <button mat-button *ngIf="control.value && !control.disabled" matSuffix mat-icon-button aria-label="Clear" (click)="clearValue()">
    <mat-icon>close</mat-icon>
  </button>
  <mat-error *ngIf="control.touched && control.invalid && control.errors">
    {{control.errors | formError}}
  </mat-error>
</mat-form-field>