@import '../../../../../assets/styles/var';

.content {
  padding: 10px;

  &__item {
    padding: 30px 5px 0px 5px;
    // width: 100%;
  }

  &__submit {
    display: flex;
    justify-content: flex-end;
    margin: 10px 5px;

    .submit-button {
      background-color: map-get($colors, top-border-color);
      color: map-get($colors, header-font-color);
      width: 150px;
    }
  }
}