@import '../../../../../assets/styles/fonts';
@import '../../../../../assets/styles/var';

.page {

  display: flex;
  justify-content: flex-start;
  margin: 30px;

  @media screen and (max-width: $medium-res) {
    flex-direction: column;
    margin: 0px;
  }

  .make_transfer {
    margin-right: 30px;
    width: 25%;
    max-height: 360px;
    background-color: map-get($colors, transaction-main-header-color);

    @media screen and (max-width: $medium-res) {
      width: 100%;
    }

    &__title {
      font-family: 'Kanit-Thin';
      border-radius: 1px;
      background-color: map-get($colors, header-color);
      color: map-get($colors, header-font-color);
      height: 35px;
      display: flex;
      word-break: break-word;

      .arrow-icon {
        background: url('../../../../../assets/icons/arrows.png');
        background-repeat: no-repeat;
        top: 10px;
        width: 30px;
        height: 30px;
        display: inline-block;
        margin: auto $padding-horizontal;      
      }
    }

    .header {
      margin: auto;
      padding-right: 3px;
    }
  }

  .transactions {
    width: 75%;

    @media screen and (max-width: $medium-res) {
      width: 100%;
    }

    &__title {
      font-family: 'Kanit-Thin';
      background-color: map-get($colors, header-color);
      color: map-get($colors, header-font-color);
      height: 50px;
      display: flex;

      .briefcase-icon {
        background: url('../../../../../assets/icons/briefcase.png');
        width: 30px;
        height: 30px;
        display: inline-block;
        margin: auto $padding-horizontal;      
      }

      .header {
        margin: auto;
      }
    }

    &__filters {
      padding: $padding-vertical $padding-horizontal;
      background-color: map-get($colors, transaction-main-header-color);
      border-radius: 1px;
    }

    &__list {
      padding: $padding-vertical $padding-horizontal;
      background-color: map-get($colors, transaction-main-header-color);
      border-radius: 1px;
    }
  }
}