<div class="page">
  <div class="make_transfer">
    <section class="make_transfer__title">
      <span class="arrow-icon"></span>
      <h3 class="header">{{'makeTransfer.header.title' | translate }}</h3>
    </section>
    <section class="make_transfer__panel">
      <app-transfer></app-transfer>
    </section>
  </div>
  <div class="transactions">
    <section class="transactions__title">
      <span class="briefcase-icon"></span>
      <h3 class="header">{{'transaction.header.title' | translate }}</h3>
    </section>
    <section class="transactions__filters">
      <app-transaction-filters (onFilter)="onFilter($event)" (onSort)="onSort($event)"></app-transaction-filters>
    </section>
    <section class="transactions__list" *ngIf="transactionList && transactionList.data">
      <app-transaction-list [transactionItems]="transactionList.data"></app-transaction-list>
    </section>
  </div>
</div>