@import '../../../../../assets/styles/var';

.container {
  display: flex;
  justify-content: space-between;
  background-color: map-get($colors, transaction-main-header-color);

  @media screen and (max-width: $large-res) {
    display: block;
  }

  &__filter {
    @media screen and (max-width: $large-res) {
      display: flex;
      justify-content: center;
    }
  }

  &__sort-items {
    display: flex;
    align-items: center;

    .text {
      font-weight: bold;
      padding-right: 10px;
    }

    @media screen and (max-width: $large-res) {
      justify-content: center;
    }

    @media screen and (max-width: $medium-res) {
      .sort-button {
        width: 110px;
      }
    }

    @media screen and (max-width: $small-res) {
      flex-direction: column;

      .sort-button {
        width: 120px;
      }
    }
  }

}