@font-face {
  font-family: 'Kanit-ExtraLight';
  src: url('../fonts/Kanit-ExtraLight.ttf');
}

@font-face {
  font-family: 'Kanit-Light';
  src: url('../fonts/Kanit-Light.ttf');
}

@font-face {
  font-family: 'Kanit-Medium';
  src: url('../fonts/Kanit-Medium.ttf');
}

@font-face {
  font-family: 'Kanit-Thin';
  src: url('../fonts/Kanit-Thin.ttf');
}