$colors: (
  transaction-list: rgb(202, 202, 202),
  header-color: rgb(70, 137, 149),
  header-font-color: rgb(250, 250, 250),
);

$very-small-res: 250px;
$small-res: 450px;
$medium-res: 660px;

$padding-vertical: 5px;
$padding-horizontal: 15px;